.profile {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Times New Roman", Times, serif;
  color: brown;
  text-align: center;
}

.content {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.box {
  width: 100px;
  background-color: cadetblue;
  margin: 10px;
  padding: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 10px 5px 5px black;
}

.container {
  width: 800px;
}

.header {
  width: 100%;
  height: 100px;
  background: bisque;
}

.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  float: left;
}

.right {
  width: 80%;
  height: 400px;
  background: coral;
  float: left;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: darkolivegreen;
  clear: both;
}
